.Aide{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.Aide_category{
  width: 25%;
  height: 100%;
  position: fixed;
}

.Aide_content{
  margin-left: 1%;
  width: 74%;
  height: 100%;
  margin-left: 25%;
}

.Aide_button{
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 35px;
}

.Aide_type{
  width: 100%;
  height: 10%;
  font-size: 40px;
  text-align: center;
  color: black;
}

.Aide_type:hover{
  background-color: grey;
}

.Aide_typelink:hover{
  text-decoration: none;
}

.Aide_aide{
  width: 98%;
  height: 30%;
  margin: 1%;
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.Aide_title{
  width: 100%;
  margin: 0;
}

.Aide_titleText{
  font-size: 40px;
  margin-left: 50px;
  margin-top: 10px;
}

.Aide_under{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Aide_underText{
  width: 80%;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.Aide_checkBox{
  display: flex;
  flex-direction: column;
}

.Aide_CheckboxText{
  font-size: 20px;
}

.Aide_Checkbox_Checkbox{
  margin-left: 50%;
}
